name: Build and Generate Executables

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Dependencies (Linux)
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake imagemagick libmagick++-dev build-essential libzip-dev

    - name: Build (Linux)
      run: |
        cmake -DBUNDLED_DEPENDENCIES=ON -DCMAKE_BUILD_TYPE=Release . && make

    - name: Upload Binary (Linux)
      uses: actions/upload-artifact@v1
      with:
        name: linux
        path: .

  build_windows:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Dependencies (Windows)
      run: |
        choco install imagemagick cmake -y

    - name: Find ImageMagick Location (Windows)
      run: |
        choco list imagemagick --local-only
        where magick


    - name: Build (Windows with MinGW)
      run: |
        cmake -DCMAKE_BUILD_TYPE=Release .
        make
